<h1>Review: <%= @destination.name %></h1>
<h2>Author: <%= @review.author %></h2>
<h2>Rating: <%= @review.rating %></h2>
<p><%= @review.content_body %></p>


<p><%= link_to "Return to destination", destination_path(@destination) %></p>
