<%= render "layouts/errors", :object => @review %>

<%= form_for [@product, @review] do |f| %>
  <h4><%= f.label :author %></h4>
  <%= f.text_field :author %>
  <h4><%= f.label :rating %></h4>
  <%= f.text_field :rating %>
  <h4><%= f.label :content_body %></h4>
  <%= f.text_area :content_body %>
  <br>
  <br>
  <p><%= f.submit :Submit, class: 'btn-style'  %></p>
<% end %>
